<?xml version="1.0"?>
<launch>

  <!-- Argumentos -->
  <arg name="gui" default="true" />

  <!-- Publicação da descrição do robô -->
    <param name="robot_description" command="cat $(find my_robot_urdf)/urdf/mont_simplificada.urdf" />

  <!-- Nodo do robot_state_publisher -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" output="screen"> 
  </node>

  <!-- Nodo do joint_state_publisher_gui (opcional) -->
  <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" output="screen" if="$(arg gui)" />

    <!-- Inicializa o RViz -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find my_robot_urdf)/Rviz/config.rviz" launch-prefix="" output="screen">
        <remap from="/robot_description" to="robot_description" />
    </node>

</launch>


